<!DOCKTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?php echo $title; ?></title>
    <link rel="stylesheet" type="text/css" href="/style.css?d=<?php echo time(); ?>" />
</head>
<body>
    <h1><?php echo $title; ?></h1>
    <!--<h2>Data stored:</h2> -->

<?php if(!empty($workoutdata)):?>
    <p><?php echo $workoutdata ?></p>
    <?php endif;?>
<br>
    <a class="btn btn-a" href="/">Return to Index</a>
</body>
</html>