@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

h1{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-transform: inherit;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    color: #fff;
    text-transform: inherit;
    margin-bottom: 15px;
}

textarea { font-size: 18px; }


a {
    background: rgba(#fff, 0);
    border-bottom: 1px solid;
    color: #fff;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
}

a:hover {
    background: rgba(#fff, 1);
    color: #135c63;
}

.container { 
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center; 
    margin-top: 100px;
    
    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

input[type=radio] {
    width : 30px;
    height: 15px;
}

label {
    font-size: 20px;
    color: #fff;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 200px; 
    position: relative;
    text-decoration: none;
    width: 100%; 
    
    @media(min-width: 600px) {
        
      margin: 0 1em 2em;
    
    &:hover { text-decoration: none; }
    
  }
}

.btn-a {
  background: #42ab7f;
  border: 1px solid #1a885a;
  box-shadow: 0px 1px 0 #1a8659;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-a:hover {
    background:#31805f;
    border: 1px solid #1a885a;
    box-shadow: 3px 5px 5px #105258;
    color: #2bd68f; 
    text-decoration: none;
    text-shadow: -1px -1px 0 #1b9965;
    transition: all 250ms linear;
}

.entry:after {
    content: 'Entry:';
}
.entry:hover::after{
    content: "Edit";
}

  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.39);
  }
  
  .butt-icon {
    display: block;
    width: 160px;
    background-color: #fff;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
}

  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
  }

  section{
    margin: 50px;
  }
